.responsetable{
    /* border-top-left-radius: 20px; */
    border-radius: 20px;

}

tr:hover {background-color: #b46262;}


@media screen and (min-width: 768px) {
  .headerppal {
    text-align: left;
    
    
  }
  .headerppal .header-logotipo{
    float: left;
  }
  .headerppal .header-avatar {
    display: inline-block;
  }

}

.headerppal .titulo {
  color: rgba(17, 173, 24, 0.849);
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}
.headerppal {
  background: #000000;
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(0,0,0,0.5);
  padding-bottom: 30px;
  text-align: left;
}

.headerppal .titulo-a {
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.headerppal .header-logotipo {
  margin-right: 5em;
  margin-left: 50px;
  margin-top: 20px;
}
.headerppal .header-logotipo img {
  border-right-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 60%;
  height: 140px;
  padding: 20px;
  width: 140px;
  transition: 0.6s;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.headerppal .header-logotipo img:hover {
  transform: scale(1.2);
}
.headerppal .header-avatar {
  /* display: none; */
  float: right;
  margin-top: -220px;
  margin-right: 85px;
}


.headerppal .header-avatar img {
  border-radius: 70%;
  height: 100px;
  width: 100px;
  transition: 0.6s;
  transform: translateY(40px);
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}

body{
    background-color:#cfcdcd;
}

/* Carousel */

#carousel .carousel-inner img {
  max-height: 40vh;
  object-fit: cover;
  /* filter: grayscale(100%);
  -webkit-filter: grayscale(100%); */
}

#carouselFade{
  position: relative;

}

#carouselFade .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;

}

#carouselFade .overlay .container, 
#carouselFade .overlay .row{
height: 40%

}
/* Ends Carousel */